services:
  mongodb:
    image: mongo:7
    container_name: mongo_mini_uber
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
    volumes:
      - ../data/uber-people:/data/db
